@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Webapp deployed using github action and spn. Valiating multi stage deployment with approval.</p>
</div>
